


body { 
    background: #F5F3E6 !important; 
    font-family: 'Lato', sans-serif !important; 

}


.left {
    float: left;
}

buttons{
    padding:0px
}
#components {
    margin-left: 10%;
}

#buttonsBox {
    float: left;
    margin-top:110px;
}

#barBox {
    float: left;
    margin-right: 5%;
}

.inverterButton {
    background-color:#3A2318;
    border-radius: 20px;
    color: white;
    width: 120%;
    padding: 10%;

    border: 3px solid #F5F3E6;

}

.inverterButton:hover {
    background-color: darkgray;
    color:black;
}

#graphs {
    width: 60%;
}

#mainTable {
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
}



#weatherData {
    border: 1px solid;
    padding: 2%;

}

p{
    font-size: 11px;
}
a {

    color: white;
    padding: 1.6em 1em;
    text-decoration: none;
    text-transform: uppercase;

    font-size: 12px;
}
.data{
    border-radius: 1em;
    border: 2px solid;

    font: sans-serif;  
    font-size: 10px;
    padding: 5px;
}

label, input{
    font-size: 10px;
    font-weight: bold;

    border:1;
    border-width: 2;
    width: 60px;
}

.wrapall{
    text-align: center;
    position: relative;
    width:80%;

}

#table{
    margin-left: 60px;

    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    background-color: #a99a86;
}



.row{
    width:100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

/*#table tr:nth-child(even){background-color: #F5F3E6;}*/

#table tr:hover {background-color: #99582A;}

#table
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #848886;
    color: white;
} 