


   body { 
       background: #F5F3E6 !important; 
    font-family: 'Lato', sans-serif;

   }
      
/*
h1 {
    font-family: 'Roboto', sans-serif;
}
*/
/*
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    text-align: right;
}*/

/*li {
    float: right;
    font-size: larger;
}*/

.left {
    float: left;
}
/*
li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

li a:hover:not(.active) {
    background-color: #99582A;
    color: #FFFFFF;
}

li a.active {
    color: white;
    background-color: #04AA6D;
}
*/
/*
.left {
    margin-left: 5%;
}
*/
buttons{
    padding:0px
}
#components {
    margin-left: 10%;
}

#buttonsBox {
    float: left;
    margin-top:110px;
}

#barBox {
    float: left;
    margin-right: 5%;
}

.inverterButton {
    background-color:#3A2318;
            border-radius: 20px;
    color: white;
    width: 120%;
    padding: 10%;
   
    border: 3px solid #F5F3E6;
   
}

.inverterButton:hover {
    background-color: darkgray;
    color:black;
}

/*.menuButton {
    width: 10%;
    border-radius: 1em;
}*/

.center {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
}

#graphs {
   width: 60%;
}

#mainTable {
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
}

#data {
   width: 50%;
   margin-left: 25%;
   margin-right: 25%;
}

#weatherData {
    border: 1px solid;
    padding: 2%;
    
}

p{
    font-size: 11px;
}
a {
           
    color: white;
    padding: 1.6em 1em;
    text-decoration: none;
    text-transform: uppercase;

    font-size: 12px;
}
 .data{
            border-radius: 1em;
            border: 2px solid;
         
            font: sans-serif;  
            font-size: 10px;
            padding: 5px;
        }

        label, input{
            font-size: 10px;
            font-weight: bold;
          
            border:1;
            border-width: 2;
            width: 60px;
        }

.wrapall{
    text-align: center;
    position: relative;

}
