  body { 
       background: #F5F3E6 !important; 
   font-family: 'Lato', sans-serif !important; 

   }

  p{
            font-size: 11px;
        }

        a {
           
            color: white;
            padding: 1.6em 1em;
            text-decoration: none;
            text-transform: uppercase;

            font-size: 12px;
        }

         a:active {
            background-color: black;
        } 

    

 p{
text-align: center;
font-size: larger;
color: #da3e3e;
} 


.no-gutters {
    margin-right: 0;
    margin-left: 0px;
     background-color: #F5F3E6;
}
      .row,
     [class*="row"] {
      padding-right: 0%;
      padding-left: 2%;
    
  } 


  #table{
      margin-right: 60px;

      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      table-layout: auto;
      width: 100%;
       background-color: #a99a86;
  }

  

.row{
    width:100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

/*#table tr:nth-child(even){background-color: #F5F3E6;}*/

#table tr:hover {background-color: #99582A;}

#table
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #848886;
    color: white;
} 
input[type=text], select {
    
    display: inline-block;
    border: 2px solid rgb(19, 18, 18);
    border-radius: 0%;
    box-sizing: border-box;
}

input[type=password], select {
  
  
    display: inline-block;
    border: 2px solid rgb(19, 18, 18);
    border-radius: 0%;
    box-sizing: border-box;
}




.addUser:hover{
    background-color: darkgray;
    color:black;
}
input[type=submit]:hover {
    background-color: darkgray;
    color:black;
}
input[type=reset]:hover {
    background-color: #a04545;
    color:black;
}  


.addUser{
    width: 100%;
    max-width: 400px;
    background-color: #3A2318;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
     border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit] {
    width: 92%;
    
     background-color: #3A2318;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
       border: none;
     border-radius: 4px;
     cursor: pointer;
 }
 input[type=reset] {
     width: 92%;
     
     background-color: #3A2318;
     color: white;
     padding: 14px 20px;
     margin: 8px 0;
       border: none;
     border-radius: 4px;
     cursor: pointer;
 }