
   body { 
       background: #F5F3E6 !important; 
    font-family: 'Lato', sans-serif !important; 
     text-align: right !important; 
   }


   input[type=submit]{
    background-color:#3A2318;
    color: whitesmoke; 
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    width:220px;
  }
  input[type=submit]:hover{
    background-color: darkgray;
    color:black; 
  }
  p{
    font-size: 22px;
}

h3{
     font-size: 25px;
}
.wrapall{
    text-align: center;
    position: relative;
    margin-left:10%;
width:70%;

}


        label, input{
            font-size: 10px;
            font-weight: bold;
          
            border:1;
            border-width: 2;
            width: 60px;
        }
         a {
           
            color: white;
            padding: 1.6em 1em;
            text-decoration: none;
            text-transform: uppercase;

            font-size: 12px;
        }
        
        
        .form-horizontal .control-label {
  text-align: left !important; /* !important added for priority in SO snippet. */
}
.form-floating{
    text-align: left;
}


  
  






.button{
    width: 100%;
  
    background-color: #3A2318;
    color: white;
    padding: 10px 18px;
    margin: 8px 0px;
     border: none;
    border-radius: 4px;
    cursor: pointer;
}


.button:hover{
    background-color: darkgray;
    color:black;
}