
   body { 
       background: #F5F3E6 !important; 
    font-family: 'Lato', sans-serif !important; 
     text-align: right !important; 

   }
     .wrapper5 {
            text-align: center;

        }

        .logForm{
            text-align: center;
        }

        .logFormz{
            position: absolute;
            top: 40px;
            left: 5%;
        }
      

.left {
    float: left;
}

#components {
    margin-left: 10%;
}

#buttonsBox {
    float: left;
}

#barBox {
    float: left;
    margin-right: 5%;
}

   input[type=submit]{
    background-color:#3A2318;
    color: whitesmoke; 
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    width:220px;
  }
  input[type=submit]:hover{
    background-color: darkgray;
    color:black; 
  }
  p{
    font-size: 11px;
}
a {
           
    color: white;
    padding: 1.6em 1em;
    text-decoration: none;
    text-transform: uppercase;

    font-size: 12px;
}
b {
           
    color: black;
    padding: 1.6em 1em;
    text-decoration: none;
    text-transform: uppercase;
font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.wrapall{
    text-align: center;
    position: relative;
    margin-left:10%;
width:70%;
}
.data{
            border-radius: 1em;
            border: 2px solid;
         
            font: sans-serif;  
            font-size: 10px;
            padding: 5px;
        }

        label, input{
            font-size: 10px;
            font-weight: bold;
          
            border:1;
            border-width: 2;
            width: 60px;
        }
         a {
           
            color: white;
            padding: 1.6em 1em;
            text-decoration: none;
            text-transform: uppercase;

            font-size: 12px;
        }
        
        
        .form-horizontal .control-label {
  text-align: left !important; /* !important added for priority in SO snippet. */
}
.form-floating{
    text-align: left;
}


  .row,
     [class*="row"] {
      padding-right: 0%;
      padding-left: 2%;
    
  } 


  #table{
      margin-right: 60px;

      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      table-layout: auto;
      width: 100%;
       background-color: #a99a86;
  }

  

.row{
    width:100%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
}

/*#table tr:nth-child(even){background-color: #F5F3E6;}*/

#table tr:hover {background-color: #99582A;}

#table
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #848886;
    color: white;
} 




.button{
    width: 100%;
  
    background-color: #3A2318;
    color: white;
    padding: 10px 18px;
    margin: 8px 0px;
     border: none;
    border-radius: 4px;
    cursor: pointer;
}


.button:hover{
    background-color: darkgray;
    color:black;
}