body {
    background-color: #F5F3E6;
}

#header {
    text-align: center;
    background-color: #6F1D1B;
    color: #F5F3E6;
    padding: 0.5%;
    border-radius: 1em;
}

#electricDiagram {
    float: left;
    margin-left: 2%;
    margin-top: -3%;
}


