body {
    background-color : #F5F3E6;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    text-align: right;
}

li {
    float: right;
}

.left {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #99582A;
    color: #FFFFFF;
}

li a.active {
    color: white;
    background-color: #04AA6D;
}

.left {
    margin-left: 5%;
}

#bar {
    margin-left: 20%;
    float: left;
}

#buttons {
    margin-right: 25%;
    margin-top: 100px;
}

#oneToNine {
    float: right;
}

#tenToNineteen {
    clear: right;
    float: right;
    margin-top: 100px;
}

#twentyTo29 {
    clear: right;
    float: right;
    margin-top: 100px;
}

#thirtyTo39 {
    clear: right;
    float: right;
    margin-top: 100px;
}

.inverterButton {
    background-color: grey;
    color: white;
    width: 15%;
    padding: 1%;
    border-radius: 0.5em;
}

.inverterButton:hover {
    border: 3px solid #99582A;
}

.menuButton {
    width: 10%;
    border-radius: 1em;
}

.center {
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 2%;
}

#wind {
    float: right;
    margin-right: 5%;
}

#power {
    float: left;
    margin-left: 5%;
}

#graphs {
    margin-top: 1%;
}