table, td, th {
    border-collapse: collapse;
    table-layout: fixed;
    border: 2px solid;
}

td{
    text-align:left;
     width: 600px;
               
                border:2px solid black;
                padding:15px
}

  th {
               background-color: #99582A;
                Color:white;
            }
            th {
                 width: 600px;
                text-align:center;
                border:2px solid black;
                padding:15px
              
            }
            
            
.center{
    position: absolute;
    left:0%;
}

#electricDiagram {
    clear: both;
    float: left;
    margin-left: 1%;
    margin-top: 2%;
}