<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BreakerControllerServlet</servlet-name>
        <servlet-class>servlets.BreakerControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InverterDetailServlet</servlet-name>
        <servlet-class>servlets.InverterDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InverterPerformanceServlet</servlet-name>
        <servlet-class>servlets.InverterPerformanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlets.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PCCDetailServlet</servlet-name>
        <servlet-class>servlets.PCCDetailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WeatherDataServlet</servlet-name>
        <servlet-class>servlets.WeatherDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxHandler</servlet-name>
        <servlet-class>utilities.AjaxHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxChartHandler</servlet-name>
        <servlet-class>utilities.AjaxChartHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxDiagramHandler</servlet-name>
        <servlet-class>utilities.AjaxDiagramHandler</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BreakerControllerServlet</servlet-name>
        <url-pattern>/breaker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InverterDetailServlet</servlet-name>
        <url-pattern>/inverterdetil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InverterPerformanceServlet</servlet-name>
        <url-pattern>/inverterperform</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PCCDetailServlet</servlet-name>
        <url-pattern>/pccdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WeatherDataServlet</servlet-name>
        <url-pattern>/weather</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxHandler</servlet-name>
        <url-pattern>/ajaxhandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxChartHandler</servlet-name>
        <url-pattern>/ajaxcharthandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxDiagramHandler</servlet-name>
        <url-pattern>/ajaxdiagramhandler</url-pattern>
    </servlet-mapping>
    
        <servlet>
        <servlet-name>InverterHomeServlet</servlet-name>
        <servlet-class>servlets.InverterHomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InverterOneServlet</servlet-name>
        <servlet-class>servlets.InverterOneServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InverterTwoServlet</servlet-name>
        <servlet-class>servlets.InverterTwoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InverterThreeServlet</servlet-name>
        <servlet-class>servlets.InverterThreeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InverterFourServlet</servlet-name>
        <servlet-class>servlets.InverterFourServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InverterHomeServlet</servlet-name>
        <url-pattern>/inverterhome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InverterOneServlet</servlet-name>
        <url-pattern>/inverterone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InverterTwoServlet</servlet-name>
        <url-pattern>/invertertwo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InverterThreeServlet</servlet-name>
        <url-pattern>/inverterthree</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InverterFourServlet</servlet-name>
        <url-pattern>/inverterfour</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>