<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="SolarPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <non-jta-data-source>java:/comp/env/jdbc/solarpowerdb</non-jta-data-source>
    <class>models.TimestampDesc</class>
    <class>models.Feeder_1</class>
    <class>models.Breakers</class>
    <class>models.Facility_1</class>
    <class>models.Inverter_1</class>
    <class>models.UserType</class>
    <class>models.FacilityUser</class>
    <class>models.FacilityLogs</class>
    <class>models.Alarms</class>
    <class>models.UserDetails</class>
    <class>models.Pcc_1</class>
    <class>models.Eaton</class>
    <class>models.Cachelan</class>
    <class>dbutil.AlarmInfo</class>
    <class>dbutil.Inverter</class>
    <class>dbutil.Feeder</class>
    <class>dbutil.UserType</class>
    <class>dbutil.Facility</class>
    <class>dbutil.Pcc</class>
    <class>dbutil.AlarmEvents</class>
    <class>dbutil.FacilityLogs</class>
    <class>dbutil.Users</class>
    <class>models.AlarmEvents</class>
    <class>models.AlarmInfo</class>
    <class>models.Users</class>
    <class>models.Feeder</class>
    <class>models.Inverter</class>
    <class>models.Pcc</class>
    <class>models.Facility</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
  </persistence-unit>
</persistence>
